/* items/index.htmlの広告cssを所々使いまわしています。 */
.footer {
  width: 100vw;
  padding: 5vh 0;
  color: #867666;
  background-color: #D5C3AA;
  text-align: center;
}

.logo-white {
  width: 20vh;
  vertical-align: bottom;
}

.footer>p {
  font-size: 20px;
}