body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.top-page-header {
  position: relative;
  text-align: center;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.lists-btn {
  display: flex;
  list-style: none;
  margin-left: auto;
  padding: 0;
}

.lists-btn li {
  margin: 0 1rem; 
}

.user-name {
  text-decoration: none;
  margin-right: 3vw;
  color: #000000;
  font-weight: bold;
}

.top-logout-btn, .top-login-btn {
  display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 100px;
  margin: auto 10px;
	padding: 0.5rem 1.5rem;
  font-weight: bold;
	border: 1.5px solid #000000;
  background-color: #000000;
	color: #f1efe7;
	transition: 0.5s;
  border-radius: 18px;
}

.top-logout-btn:hover , .top-login-btn:hover {
  color: #000000;
  background-color: #f1efe7;
}

.sign-up-btn {
  display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 100px;
  margin: auto 10px;
	padding: 0.5rem 1.5rem;
  font-weight: bold;
	border: 1.5px solid #000000;
  background-color: #000000;
	color: #f1efe7;
	transition: 0.5s;
  border-radius: 18px;
}

.sign-up-btn:hover {
  color: #000000;
  background-color: #f1efe7;
}