<h1>New Practice</h1>

<%= form_with(model: [current_user, @records], local: true) do |form| %>
  <div>
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>
  <div>
    <%= form.submit "Create Practice" %>
  </div>
<% end %>