/* ヘッダー */
.header {
  background-color: #f1efe7;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.header-title {
  background-color: #f1efe7;
  width: 100vw;
  text-align: center;
  padding: 1rem 0;
  font-size: xx-large;
  color: #F27108;
}

.left-header {
  margin-left: 30px;
}

/* ヘッダーボタン */
.btn-home {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 100px;
  margin: auto 10px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  border: 1.5px solid #000000;
  color: #000000;
  transition: 0.5s;
  background-color: #ECCA53;
  border-radius: 18px;
}

.btn-home:hover {
  color: #fff;
  background: #000000;
}

/* ボディー */
.knitting-index {
  background-color: #f1efe7;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.knitting-box {
  background-color: #FFF;
  width: 80vw;
  max-width: 1200px;
  padding: 5vh 5vw;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.new-knitting-form {
  width: 100%;
  margin-bottom: 2rem;
}

.field {
  margin-bottom: 1.5em;
}

.field label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #333;
}

.actions input[type="submit"] {
  background-color: #F27108;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.actions input[type="submit"]:hover {
  background-color: #d96107; 
}

.knitting-item {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.knitting-detail {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.item-img {
  width: 400px; /* 画像サイズを調整 */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-right: 20px; /* 画像とテキストの間に余白を作る */
}

.knitting-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px; /* 画像の高さと揃える */
}

.knitting-text {
  background-color: #f9f9f9;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-top: 1rem;
}

.knitting-work {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.knitting-recipe,
.knitting-yarn,
.knitting-hooknumber {
  display: block;
  margin-bottom: 0.5rem;
}