.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-sb-btn {
  width: 100%;
  background: #ECCA53;
  border: 1px solid #ECCA53;
  color: #000000;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
}

.login-flash-message {
  text-align: center;
  color: #ECCA53;
}
